header{
    background-image: url(/images/Goodyear.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
}
form {
    width: 800px;
    margin: 0 auto;
    
}
nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: auto;
    float: right;
  }
  nav>ul {
    text-align: justify;
    font-size: x-large;
    word-spacing:5px;
    font-weight: bolder;
  }
  nav>ul>li {
    display: inline-block;
    text-overflow: clip;
  }
  nav>ul>li>a {
    padding: 15px;
    text-align: right;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: rgb(0, 0, 255)
  }

.subtitle{
    margin-top: 100px;
}
.logo img{
    height: 90px;
   width: 90px;
   float: left;
   margin-left: 10px;
}
#about-us {
    font-size:1.1em;
    }
body{
    margin:10px;
    padding: 0px;
    background-color: rgb(51, 158, 158);
     display: block;
     font-size: 1.1em;
} 
.subtitle h1{
    text-align: center;
    color: rgb(117, 164, 252);
    float: left;
}
.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.list-group-item{
    color: black;
}

.contact-right-info ul > li{
    color: black;
    line-height: 1.6;
    display: inline-block;
    list-style-type: none;
}
 

.control-group {
    line-height: 2.5;
    
}
.demo{
    line-height: 2px;
}
#select-service{
    padding: 5px 10px;
}
.form-group{
    padding: 5px 10px;
}
.garage > h3{
    text-align: center;
    font-size: 80px;
}
.garage > h4{
    text-align: center;
}
h2{
    color:rgb(13, 14, 14);
    font-size: 50px;
    text-align: center;
    
}
.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cards {
    box-shadow: 5px 5px 5px grey;
    box-shadow: -5px -5px -5px grey;
    padding: 20px;
    margin-left: 2px;
    align-items: center;
    height: 420px;
    width: 300px;
    background-color: lightblue;
}
.cards p, .cards h3 {
    font-family: 'Oswald', sans-serif;
}
.button {
	font-size:large;
	margin-top:5px;
	font-family: 'Times New Roman';
	padding:8px 12px;
	text-shadow:0px 1px 1px rgba(7, 7, 7, 0.952);
	display: inline-block;
	background:rgb(224, 212, 177);
    color: rgb(7, 30, 133);
}
.button:hover {
	text-shadow: 0px 0px 1px #000;
    background:rgb(212, 208, 208);
}
.listview_1_of_2{
	display: block;
	float:left;
	margin: 0% 0 0% 1.6%;
}
.listimg{
	display: block;
	float:left;
}
.text{
	display: block;
	float:left;
	margin: 0% 0 0% 3.6%;
}
.listview_1_of_2:first-child { 
    margin-left: 0;
 }
.images_1_of_2 {
	width: 46.2%;
	padding:1.5%; 
}
.listimg_2_of_1 {
	width:18%;
}
.list_2_of_1 {
	width: 78%;
}
.images_1_of_2  img {
	max-width: width 100%;
	display:block;
}
.list_2_of_1  h3{
	color:rgb(14, 13, 13);
	margin-top:0.4em;
	margin-bottom:0.2em;
	font-size:1.5em;
	 font-family: 'Times New Roman';
	font-weight : large;
}
.list_2_of_1  p{
	font-size:large;	
	color:#0a0909;
	line-height: 1.8em;
	padding:0;
}
.listimg_1_of_2 ul{
    column-count: 3;
    column-gap: 50px;
    font-size:large ;
}
/* #services>h3{
text-align: center;
font-size:80px;
} */

#cars{
    padding: 5px 10px;
    width: 200px;
}
#package{
    padding: 5px 10px;
    width: auto;
}

